@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
$font-family-sans-serif : 'Rubik', sans-serif;

$primary : hsl(231, 69%, 60%);
$danger : hsl(0, 94%, 66%);

$navbar-padding-y : 1.5rem;
$navbar-nav-link-padding-x : 2rem;

$btn-padding-x : 2rem;
$btn-padding-y : .6rem;


$btn-padding-x-lg : 2rem;
$btn-padding-y-lg : 1rem;

$accordion-icon-color : $primary;
$accordion-button-active-color : #000;
$accordion-button-active-bg : none;
$accordion-icon-active-color : $danger;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

.navbar{
    z-index: 1000;
}
.navbar-nav{
    .nav-item{
        .nav-link{
            color: #000;
        }
    }
}
.navbar-nav{
    .nav-item{
        .nav-link:hover{
            color: $danger;
        }
    }
}
.min-vh-70{
    min-height: 70vh;
}
p{
    font-size: 18px;
}
.fw-custom{
    font-weight: 500;
}
.mb-100{
    margin-bottom: 100px;
}
#features{
    img{
        height: 400px;
    }
}
.accordion-button:hover{
    color: $danger;
}